{% macro card_box(title, items, url_path) -%}
  <div class="card my-4">
    <h3 class="card-header">{{ title }}</h3>
    <ul class="list-unstyled mb-0">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-12">
            {% for name, links in items %}
              <li>
                <a href="{{ url_path }}{{ name.slug }}">{{ name }}</a>
              </li>
            {% endfor %}
          </div>
        </div>
      </div>
    </ul>
  </div>
{% endmacro %}
