{% extends "base.html" %}

{% block head %}
  {{ super() }}

  {% if article.description %}
    <meta name="description" content="{{ article.description }}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{ tag }}" />
  {% endfor %}

{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title }}{% endblock %}

{% block content %}
  <h1 class="my-4">
    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
      title="Permalink to {{ article.title|striptags }}">
      {{ article.title }}
    </a>
  </h1>

  <p>
    {% if article.authors %}
      By {% for author in article.authors %}
        <a href="{{ SITEURL }}/{{ author.url }}">{{ author }} </a>
      {% endfor %}
    {% endif %}
  </p>

  <hr/>

  <time datetime="{{ article.date.isoformat() }}">
    {% if article.modified %}
      Updated: {{ article.locale_modified }}
    {% else %}
      Published: {{ article.locale_date }}
    {% endif %}
  </time>

  <hr/>

  <div>
    {{ article.content }}
  </div>

  <div class="card-footer text-muted">
    <p>
      In <a href="{{ SITEURL }}/{{ article.category.url }}">
        {{ article.category }}
      </a>
    </p>
    {% include "taglist.html" %}
  </div>
  {% if 'related_posts' in PLUGINS and article.related_posts %}
    <ul>
      {% for related_post in article.related_posts %}
        <li>
          <a href="{{ SITEURL }}/{{ related_post.url }}">
            {{ related_post.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  <div id="disqus_thread"></div>
  <script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://http-ronaldtheodoro-github-io.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>
    Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
  </noscript>
  <script id="dsq-count-scr" src="//http-ronaldtheodoro-github-io.disqus.com/count.js" async></script>
{% endblock %}
