<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />
    {% if FEED_ALL_ATOM %}
      <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}

    {% if FEED_ALL_RSS %}
      <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}

    {% if FEED_ATOM %}
      <link href="{{ FEED_DOMAIN }}/{%if FEED_ATOM_URL %}{{ FEED_ATOM_URL }}{% else %}{{ FEED_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}

    {% if FEED_RSS %}
      <link href="{{ FEED_DOMAIN }}/{% if FEED_RSS_URL %}{{ FEED_RSS_URL }}{% else %}{{ FEED_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}

    {% if CATEGORY_FEED_ATOM and category %}
      <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_ATOM_URL %}{{ CATEGORY_FEED_ATOM_URL|format(category.slug) }}{% else %}{{ CATEGORY_FEED_ATOM|format(category.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}

    {% if CATEGORY_FEED_RSS and category %}
      <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_RSS_URL %}{{ CATEGORY_FEED_RSS_URL|format(category.slug) }}{% else %}{{ CATEGORY_FEED_RSS|format(category.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}

    {% if TAG_FEED_ATOM and tag %}
      <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_ATOM_URL %}{{ TAG_FEED_ATOM_URL|format(tag.slug) }}{% else %}{{ TAG_FEED_ATOM|format(tag.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}

    {% if TAG_FEED_RSS and tag %}
      <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_RSS_URL %}{{ TAG_FEED_RSS_URL|format(tag.slug) }}{% else %}{{ TAG_FEED_RSS|format(tag.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}
  {% endblock head %}
  <link href="{{ SITEURL }}/theme/css/font-awesome.css" type="text/css" rel="stylesheet">
  <link href="{{ SITEURL }}/theme/css/lato.css" type="text/css" rel="stylesheet">
  <link href="{{ SITEURL }}/theme/css/bootstrap.css" type="text/css" rel="stylesheet">
  <link href="{{ SITEURL }}/theme/css/main.css" type="text/css" rel="stylesheet">
</head>
<body>
  {% include 'navbar/navbar.html' %}

  <div class="container">
    <div class="row">
      <div class="col">
        {% block content %}
        {% endblock %}
      </div>
      {% if DISPLAY_SIDEBAR %}
        {% include "sidebar/sidebar.html" %}
      {% endif %}
    </div>
  </div>
  <script src="{{ SITEURL }}/theme/js/jquery.js"></script>
  <script src="{{ SITEURL }}/theme/js/popper.js"></script>
  <script src="{{ SITEURL }}/theme/js/bootstrap.js"></script>
</body>
</html>
