{% extends "base.html" %}

{% block content %}
  {% block content_title %}
    <h1 class="my-4">All articles</h1>
  {% endblock %}

  {% for article in articles_page.object_list %}
    <div class="card mb-4">
      <div class="card-body">
        <h2 class="card-title">
          <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
            {{ article.title }}
          </a>
        </h2>
        <p class="card-text">{{ article.summary }}</p>
      </div>

      <div class="card-footer text-muted">
        <time datetime="{{ article.date.isoformat() }}">
          {% if article.modified %}
            Updated: {{ article.locale_modified }}
          {% else %}
            Published: {{ article.locale_date }}
          {% endif %}
        </time>
        By {% for author in article.authors %}
          <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">
            {{ author }} 
          </a>
        {% endfor %}
      </div>
    </div>
  {% endfor %}

  {% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
  {% endif %}
{% endblock content %}
